<!-- slider_area_start -->
<div class="slider_area">
    <div class="slider_active owl-carousel">
        <div class="single_slider d-flex align-items-center justify-content-center slider_bg_1 overlay">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-8">
                        <div class="slider_text">
                            <h3>
                                Pests are<br>
                                amongst us                      
                            </h3>
                            <p>Do you want to know what pests is close to you?</p><br>
                            <a href="~/Home/Location" class="boxed-btn3">Find Out</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider d-flex align-items-center justify-content-center slider_bg_2 overlay">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-8">
                        <div class="slider_text">
                            <h3>
                             Is that a pest?
                            </h3>
                            <p>Here's some additional information to help you identify them</p><br>
                            <a href="~/Home/About" class="boxed-btn3">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider_area_end -->
